.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  user-select: none;   // 드래그 시 텍스트 선택 방지
  /* cursor: grab;

  &:active {
    cursor: grabbing;
  } */
}